* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}


.choice {
 
}

#start-button:hover {
    background-color: lightblue;
    color: black;
    border-radius: 3px;
}